@import '../../../../../assets/style/buttons';

.container-add-update-subscription{
  .body-add-update-subscription {
    border-radius: 21px;
    border: 1px solid #DADBDA;
    background:  #F7F5FF;
    margin: 27px 27px 0px;
    min-height: 70vh;
    padding: 35px;
  }
}

