<div class="home-gah">

    <!--  bloc Today’s updates -->
        <div class="updates">
            <h2>Today’s updates</h2>
            <p>Transportation operations</p>
            <div class="row contain-card gap-4">
                    <div class="col card-total">
                        <span> <img src="assets\icon\file-text-white.svg" alt="" /></span>
                        <label>120</label>
                        <h3>Total Subscriptions</h3>
                        <p>+8% from yesterday</p>
                    </div>
                    <div class="col card-active">
                        <span> <img src="assets\icon\Users.svg" alt="" /></span>
                        <label>80</label>
                        <h3>Active Subscriptions </h3>
                        <p>+8% from yesterday</p>
                    </div>
                    <div class="col card-expired">
                        <span> <img src="assets\icon\RocketLaunch-white.svg" alt="" /></span>
                        <label>5</label>
                        <h3>Expired Subscriptions </h3>
                        <p>+1,2% from yesterday</p>
                    </div>
                    <div class="col card-assigned">
                        <span> <img src="assets\icon\iot-1.svg" alt="" /></span>
                        <label>8</label>
                        <h3> Assigned IOT Devices </h3>
                        <p>+1,2% from yesterday</p>
                    </div>
                  
                    
            </div>
        </div>
    <!--  bloc stat card -->
    
    <div class="card-stat">
        <div class="row  ">
            <div  class="col-md-5">
                <div class="item"> 
                     <h3>RAM consumption</h3>
                </div>
               
            </div>
            <div  class="col">
                <div class="item">
                <h3>CPU consumption </h3>
             </div>
            </div>
            <div  class="col">
                <div class="item">
                <h3>Storage consumption </h3>
             </div>
            </div>
        </div>
    </div>
    </div>    