.mat-elevation-z8 {
  padding: 16px 40px 0px;
  box-shadow: none;

  .table-header {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
          width: fit-content;
          border: 1px solid #4b41d9;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          overflow: hidden;

          li {
              padding: 12px 20px;
              color: #1d1b20;
              border-right: 1px solid hsl(244, 67%, 55%);
              font-size: 14px;
              font-weight: 400;
              cursor: pointer;
              &:last-child {
                  border-right: none;
              }
              &.active {
                  background-color: #4b41d9;
                  color: white;
                  cursor: auto;
              }
              &:hover:not(.active) {
                  background-color: rgba(75, 65, 217, 0.1);
              }
          }
      }
      .right-bloc {
          // width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
      }
  }

  .table-contain {
      border: 1px solid #dadbda;
      border-radius: 8px;
      overflow: hidden;
  }
  table {
      width: 100%;
      th {
          background-color: #f7f5ff;
          height: 70px;
          color: #4b41d9;
          font-size: 16px;
          font-family: 'Product Sans', sans-serif;
          font-weight: bold;
          letter-spacing: 0.7px;
          white-space: nowrap;
      }
      td {
          height: 100%;
      }
  }
  .mat-typography {
      font-family: 'Product Sans', sans-serif;
  }

  .mat-mdc-row {
      height: 60px;
      &:nth-child(even) {
          background-color: #f9f9f9;
      }
  }
  .mat-mdc-cell {
      border-bottom-width: 0px;
      font-family: 'Product Sans', sans-serif;
      letter-spacing: 0.7px;
  }
  .action-button {
      margin-inline: auto;
      span {
          border: 1px solid #4b41d9;
          border-radius: 50%;
          overflow: hidden;
          margin: 3px;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          img {
              height: 20px;
          }
      }
  }
}
.table-container {
  border-radius: 8px;
  border: 1px solid #DADBDA;
  // padding: 0PX 51PX 0PX 175PX;
}
::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 1 !important;
  transform: translateY(6px) !important;
}

::ng-deep .btn-pagination {
  .mat-mdc-form-field-infix {
      height: 30px !important;
  }
  .mat-mdc-form-field {
      height: 30px !important;
  }
  // .mat-mdc-select-trigger{
  //   height:30px;
  // }
  // .mat-mdc-form-field-infix{
  //   width: 45px !important;
  // }
  // .mat-mdc-paginator-page-size{
  //   width: 200px;
  // }
  // .mat-mdc-paginator-page-size-label{
  //   width: 200px;
  // }
}
::ng-deep .mat-sort-header-arrow {
  color: #4b41d9 !important;
  bottom: 6px;
  &:hover {
      // color: #4b41d9 !important;
      bottom: 6px;
  }
}
.action-header{
  text-align:center;
}
