.breadcrumb{
  .home{
    margin-top: -8px;
  }
  i{
    color: #919090;
  }
  span{
    color: #4b41d9;
    font-size: 22px;
    font-family:  'Product Sans' ;
    font-weight: 400;
    line-height: normal;
  }
}
