<div class="container-summary">
    <div class="card-summary">
        <div class="left-side">
            <div class="d-flex justify-content-between align-items-baseline">
                <div class="title">Gamme Pro</div>
                <div class="litle-price">$20.00</div>
            </div>

            <div class="d-flex justify-content-between mt-1">
                <div class="light-text">For individuals and small teams</div>
                <div class="quantity">Qty: 1</div>
            </div>
            <div class="l-h-light mt-4"></div>

            <div class="more-option mt-4">Added options</div>
            <div class="d-flex justify-content-between mt-4">
                <div class="lable-summary">IOT devices ( 1 )</div>
                <div class="litle-price">$10.00</div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="lable-summary">Added Storage (500GB)</div>
                <div class="litle-price">$10.00</div>
            </div>
            <div class="l-h-light my-4"></div>
            <div class="d-flex justify-content-between">
                <div class="total-summary">Total</div>
                <div class="big-price-summary">$40</div>
            </div>
        </div>
        <div class="right-side">
            <div class="box-module">
                <div class="details-summary">What's include</div>
                <div class="d-flex mt-3 align-items-center">
                    <img src="assets/icon/CheckCircle.svg" alt="CheckCircle" />
                    <div class="module-selected-summary ms-2">Freight Track</div>
                </div>
                <div class="d-flex mt-3 align-items-center">
                    <img src="assets/icon/CheckCircle.svg" alt="CheckCircle" />
                    <div class="module-selected-summary ms-2">Freight Navigator</div>
                </div>
                <div class="d-flex mt-3 align-items-center">
                    <img src="assets/icon/CheckCircle.svg" alt="CheckCircle" />
                    <div class="module-selected-summary ms-2">Freight Plan</div>
                </div>
                <div class="d-flex mt-3 align-items-center">
                    <img src="assets/icon/CheckCircle.svg" alt="CheckCircle" />
                    <div class="module-selected-summary ms-2">Freight Mobile</div>
                </div>
            </div>
        </div>
    </div>
</div>
