<div class="overview-company">
    <div class="overview-header">
      <h2>
        <img src="assets/icon/search-overview.svg" />
        Overview
      </h2>
      <span (click)="close()">
        <img src="assets/icon/x.svg" role="button" />
      </span>
    </div>
  
    <div class="overview-body">
   <!-- Company profile -->
   <div class="overview-details">
    <div class="overview-details-title">Company profile</div>
    <ul class="p-0">
      <li>
        <div class="left-details">Company name</div>
        <div class="right-details">Addinn</div>
      </li>
      <li>
        <div class="left-details">Country</div>
        <div class="right-details">Tunisia</div>
      </li>
      <li>
        <div class="left-details">City</div>
        <div class="right-details">Tunis</div>
      </li>
      <li>
        <div class="left-details">Adress</div>
        <div class="right-details">Centre urbain nord. tunis</div>
      </li>
      <li>
        <div class="left-details">Phone number</div>
        <div class="right-details">+216 23897864</div>
      </li>
      <li>
        <div class="left-details">Contact mail</div>
        <div class="right-details">ahmedbensalah</div>
      </li>
      <li>
        <div class="left-details">VAT number</div>
        <div class="right-details">3245643424</div>
      </li>
      <li>
        <div class="left-details">Registration number</div>
        <div class="right-details">4757675645</div>
      </li>
    </ul>
  </div>
  <!-- Activity details -->
  <div class="overview-details">
    <div class="overview-details-title">Activity details</div>
    <ul class="p-0">
      <li>
        <div class="left-details">Sector</div>
        <div class="right-details">Name of sector</div>
      </li>
      <li>
        <div class="left-details">Sub-sector</div>
        <div class="right-details">Name of Sub-sector</div>
      </li>
      <li>
        <div class="left-details">Packaginging</div>
        <div class="right-details">Packaginging</div>
      </li>
      <li>
        <div class="left-details">Nature of goods</div>
        <div class="right-details">nature</div>
      </li>
      <li>
        <div class="left-details">Transport mode</div>
        <div class="right-details">transport mode</div>
      </li>
      <li>
        <div class="left-details">Preferred language</div>
        <div class="right-details">English</div>
      </li>
    </ul>
  </div>
  <!-- Note -->
  <div class="overview-details">
    <div class="overview-details-title">Activity details</div>
    <div class="overview-details-note">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem esse
      corrupti minus perferendis ex molestias quibusdam soluta quis quisquam
      harum itaque, consequuntur odio sint architecto vitae adipisci quo rerum
      suscipit deleniti quam at laudantium? Natus minus porro eius perferendis
      modi beatae consequuntur doloremque voluptas commodi ducimus, consectetur
      veniam quas officia a necessitatibus eaque deserunt deleniti quos pariatur
      nam. Voluptate placeat repudiandae, ullam, minus accusamus dolore pariatur
      omnis labore quam similique doloremque
    </div>
  </div>
  <!-- Documents -->
  <div class="overview-details">
    <div class="overview-details-title">Documents</div>
    <div class="overview-details-Documents d-flex align-items-center">
      <span class="m-1"><img src="assets/icon/filetype-pdf.svg" /></span>
      <span class="file-name">File name 1</span>
    </div>
    <div class="overview-details-Documents d-flex align-items-center">
      <span class="m-1"><img src="assets/icon/filetype-pdf.svg" /></span>
      <span class="file-name">File name 1</span>
    </div>
    <div class="overview-details-Documents d-flex align-items-center">
      <span class="m-1"><img src="assets/icon/filetype-pdf.svg" /></span>
      <span class="file-name">File name 1</span>
    </div>
    <div class="overview-details-Documents d-flex align-items-center">
      <span class="m-1"><img src="assets/icon/filetype-pdf.svg" /></span>
      <span class="file-name">File name 1</span>
    </div>
  </div>
    </div>
  
  </div>
  
  
