/*.container-subscription{
    .mat-elevation-z8{
      padding:0px !important;
    }

    .padding-table-subscription{
        padding: 0px 40px 0px;
      }}

      ::ng-deep .container-company .mat-elevation-z8{
        padding:0px !important;
      }*/