<div class="container-options">
    <div class="row mx-0">
        <div class="col-md-8">
            <div class="title-option">Add options to your pack</div>
            <div class="list-card">
                <div *ngFor="let item of [1,2,3,4]" class="card-option">
                    <div class="text">For individuals and small teams</div>
                    <div class="title-card-option mt-2">Google Maps View</div>
                    <div class="text mt-2">
                        Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit.
                    </div>
                    <div class="d-flex align-items-baseline mt-2">
                        <span class="price">$10</span> <span class="monthly">/ Monthly</span>
                    </div>
                    <button mat-raised-button class="button-form-transparent mt-2">Add to your pack</button>
                </div>
            </div>

            <div class="title-option mt-3">You can add this modules to your pack</div>
            <div class="list-card">
                <div class="card-option">
                    <div class="text">For individuals and small teams</div>
                    <div class="title-card-option mt-2">Google Maps View</div>
                    <div class="text mt-2">
                        Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit.
                    </div>
                    <div class="d-flex align-items-baseline mt-2">
                        <span class="price">$10</span> <span class="monthly">/ Monthly</span>
                    </div>
                    <button mat-raised-button class="button-form-transparent mt-2">Add to your pack</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pack-selected">
                <div class="title-pack-selected">Gamme Pro</div>
                <div class="sub-title-pack-selected mt-2">For Individuals and Small Teams</div>
                <div class="desc-pack-selected mt-4">
                    Lorem ipsum dolor sit amet doloroli sitiol conse ctetur adipiscing elit.
                </div>
                <div class="d-flex align-items-baseline mt-2">
                    <span class="big-price mt-3">$70</span> <span class="monthly">/ monthly</span>
                </div>
                <div class="details mt-3 mb-2">What’s included</div>

                <div class="d-flex mt-3 align-items-center">
                    <img src="assets/icon/CheckCircle.svg" alt="CheckCircle" />
                    <div class="module-selected ms-2">Freight Track</div>
                </div>
                <div class="d-flex mt-3 align-items-center">
                    <img src="assets/icon/CheckCircle.svg" alt="CheckCircle" />
                    <div class="module-selected ms-2">Freight Navigator</div>
                </div>
                <div class="d-flex mt-3 align-items-center">
                    <img src="assets/icon/CheckCircle.svg" alt="CheckCircle" />
                    <div class="module-selected ms-2">Freight Plan</div>
                </div>
                <div class="d-flex mt-3 align-items-center">
                    <img src="assets/icon/CheckCircle.svg" alt="CheckCircle" />
                    <div class="module-selected ms-2">Freight Mobile</div>
                </div>

                <div class="text-decoration-underline details my-3">Added options</div>
                <div class="d-flex justify-content-between mt-4 pe-5">
                    <div class="module-selected">IOT devices ( 5 )</div>
                    <div class="sub-title-pack-selected">$50.00</div>
                </div>
                <div class="d-flex justify-content-between mt-3 pe-5">
                    <div class="module-selected">Add. Storage (500GB)</div>
                    <div class="sub-title-pack-selected">$10.00</div>
                </div>
                <div class="l-h mt-3 ms-2"></div>
                <div class="total mt-3">TOTAL</div>
            </div>
        </div>
    </div>
</div>
